  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}
footer{
    background-color: black;
    color: white;
    height: 12vh;
    font-family: 'Roboto Slab', serif;
}
header{
    background-color: black;
    border: 2px solid red;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0 26px;
}
nav ul{
    height: 55px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}